<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Web App</title>
    <link href="main.css" rel='stylesheet'>
</head>
<body>
    <div id="app">
        <header class="header">
            <h1>Chat</h1>
            <div v-if="user.uid" key="login">
                <p>ログイン済み</p>
                <button type="button" @click="doLogout">Logout</button>
            </div>
            <div v-else key="logout">
                <p>ログインしてください</p>
                <button type="button" @click="doLogin">Login</button>
            </div>
        </header>
        <ul>
            <li is="chat-cell" v-for="item in items" :key="item.id" :message="item.val" :date="item.date"></li>
        </ul>

        <input v-model="message" :disable="!user.uid" @keydown.enter="doSend">
        <button :disable="!user.uid" @click="doSend">press</button>

    </div>
    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
          apiKey: "AIzaSyDHRiOjp1Yj6uEtGz3KPNYElgF4bpFkakk",
          authDomain: "chatprog-4756a.firebaseapp.com",
          databaseURL: "https://chatprog-4756a.firebaseio.com",
          projectId: "chatprog-4756a",
          storageBucket: "chatprog-4756a.appspot.com",
          messagingSenderId: "724332719936"
        };
    firebase.initializeApp(config);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
