.cell {
    font-size: 12px;
    color: gray;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    background-color: #EEE;
    padding-left: 4px;
    border: solid 1px gray;
    margin-bottom: 4px;
    border-radius: 8px;
    width: 60%
}
li:hover {
    /* opacity: 0.6; */
    box-shadow: 0 0 3px;

}
